:root {
    --O_color1: #9bb0ff;
    --O_color2: #7289d5;
    --O_color3: #4965ac;
    --O_shadow: rgba(172, 192, 255, 0.2);

    --F_color1: #f8f7ff;
    --F_color2: #c1c0c8;
    --F_color3: #8d8c93;
    --F_shadow: rgba(225, 224, 232, 0.2);

    --original_color1: #FFE194;
    --original_color2: #FFB319;
    --original_color3: #F88F01;
    --original_shadow: rgba(255, 239, 161, 0.2);

    --green_color1: #86a985;
    --green_color2: #698b68;
    --green_color3: #4d6e4d;
    --green_shadow: rgba(216, 254, 215, 0.2);

    --zzz: #EEEBDD;

}


.main {
    position: absolute;
    width: 60px;
    height: 120px;
    background: #EEEBDD;
    transform: translate(-50%, -50%);
    left: 10%;
    top: calc(50% + 20px);
}

.main.stretch::before{
    content: '';
    position: absolute;
    border: 8px solid #EEEBDD;
    border-radius: 5px;
    width: 100px;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
    border-top: transparent;
    outline: 4px solid #f08000;
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.main.muscle::before{
    content: '';
    position: absolute;
    border: 8px solid #EEEBDD;
    border-radius: 5px;
    width: 100px;
    height: 10px;
    left: -28px;
    top: 55px;
    border-top: transparent;
}

.main.muscle::after{
    content: '';
    position: absolute;
    display: block;
    width: 105px;
    height: 100px;
    margin: 0 auto;
    left: -46%;
    top: -48px;
    border: 5px white solid;
    border-bottom: none;
    border-radius: 50% 50% 0 0;
    animation: swing 1500ms infinite linear;
    transform-origin: bottom;
    content: "";
    
}

.shadows {
    position: absolute;
    width: 95px;
    height: 60px;
    border-radius: 100%;
    background: #181818;
    left: calc(10% - 47.5px);
    top: calc(50% + 55px);
}

.shadows::after {
    content: '';
    position: absolute;
    --after-background: none;
    background: var(--after-background);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    left: -25px;
    top: -225px;
    animation: shadow-anim 2s ease infinite;
}

.details {
    background: radial-gradient(20px 10px at 50% 50%, #D6D5CD 50%, #E1DFD3 50%);
    width: 60px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 10%;
    top: calc(50% - 40px);
    box-shadow: 0 120px 0 0 #EEEBDD;
}

.details::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 30px;
    background: #564930;
    top: calc(50% - 30px);
    left: calc(50% - 2.5px);
    border-radius: 50px;
    box-shadow: 7.5px -5px 0 0 rgba(0, 0, 0, 0.05);
}

.candle {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 0 50% 50%;
    transform: rotate(45deg);
    background: var(--original_color1);
    left: calc(10% - 7.5px);
    top: calc(50% - 65px);
    box-shadow: none;
    background: none;
    animation: candle-anim 2s ease infinite;
}


.candle.lit {
    box-shadow: none;
    box-shadow: -6px -6px 0 10px var(--original_color2), -14px -14px 0 20px var(--original_color3), -8px -28px 0 20px rgba(0, 0, 0, 0.1);
    background: var(--original_color1);
}

.shadows.lit::after {
    --after-background: var(--original_shadow);
}


@keyframes candle-anim {
    0% {
        transform: scale(1) rotate(45deg);
    }

    50% {
        transform: scale(1.1) rotate(45deg);
    }

    100% {
        transform: scale(1) rotate(45deg);
    }
}

@keyframes shadow-anim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.eye {
    position: absolute;
    transform: translate(-50%, -50%);
    left: calc(10% - 20px);
    top: calc(50% - 10px);
    background: #EEEBDD;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.eye.eye-2 {
    left: calc(10% + 20px);
}

.eye::before {
    content: '';
    position: absolute;
    margin: auto;
    width: 10px;
    height: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background: black;
}


.eye.sleep::before {
    width: 15px;
    height: 3px;
    border-radius: 0;
}

/* .eye::after {
    content: '';
    position: absolute;
    margin: auto;
    width: 100px;
    height: 8px;
    left: 0;
    border-radius: 50%;
    background: black;
} */

.mouth::before {
    content: '';
    position: absolute;
    margin: auto;
    width: 50px;
    height: 5px;
    left: 10%;
    top: 5px;
    bottom: 0;
    background: black;
    transform: translateX(-50%);
}

.mouth::after {
    content: '';
    position: absolute;
    margin: auto;
    top: 25px;
    bottom: 0;
    width: 50px;
    height: 25px;
    border-radius: 5px 5px 60px 60px;
    --after-background: none;
    background: var(--after-background);
    left: 10%;
    transform: translateX(-50%);
}

.mouth.happy::after {
    --after-background: black;
}